* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: #eee;
  /*  background-image: url("https://www.pngkit.com/png/full/3-31486_triangle-background-png-orange-background-png.png"); */
  padding: 0 16px;
}
